<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price: $</strong>
  <%= @article.price %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @article.publication_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @article.thumbnail %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.image %>
</p>

<%# Button to link to buy now for stripe payment %>
<html>
  <head>
    <title>Buy article</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <button id="checkout-button">Buy Now</button>
  </body>
</html>

<br><br>
<%= link_to 'Edit', edit_article_path(@article) %> |

<%= link_to 'Back', articles_path %>

